.topbar {
  width: auto;
  background-color: #2bb8e6;
  height: 13vh;
  display: flex;
  /* overflow: auto; */
}
.logo {
  flex: 2;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logophoto {
  width: 100%;
  height: 50%;
}
.search {
  flex: 7;
  float: left;
  display: grid;
  place-items: center;
}
.inputbox {
  width: 80%;
}
.gap {
  flex: 0.3;
}
.notification {
  flex: 1;
  float: left;
  display: flex;
  align-items: center;
  justify-content: right;
}
.icon1:hover {
  color: #e6592b;
  cursor: default;
}
.profile {
  flex: 1;
  float: left;
  display: flex;
  align-items: center;
  justify-content: left;
}
.icon1 {
  font-size: 50px;
  color: white;
}
.img {
  border-radius: 50px;
  max-height: 50px;
  max-width: 50px;
}
@media screen and (max-width: 700px) {
  .logo {
    flex: 6;
  }
  .logophoto {
    width: 100%;
    height: 50%;
  }
  .profile {
    display: grid;
    place-items: center;
  }
  /* .search {
    width: 100%;
  }
  .notification{
    width: 50%;
    float: left;
  }
  .profile{
    width: 50%;
  } */
}

/* navbar */
/* ROOT CSS VARIABLES */

:root {
  --color-white: #ffffff;
  --color-light-blue: #f2fbfe;
  --color-blue: #2bb8e6;
  --color-gray-light: #f2f2f2;
  --color-gray-dark: #606060;
  --color-dark: pink;
  --color-primary: #e6592b;
  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none !important;
}
main {
  display: grid;
  grid-template-columns: 16rem auto;
  max-width: 100%;
  text-decoration: none !important;
}
/* main section.middle{
  background: blueviolet;
} */
main aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87vh;
  background: var(--color-white);
  width: 270px;
}
main aside button#close-btn {
  display: none;
}
.google-icon {
  font-size: 35px !important;
  display: inline-block !important;
}
main aside .sidebar a {
  display: flex;
  align-items: center;
  width: 270px;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-gray-dark);
  position: relative;
  background: var(--color-white);
}
main aside .sidebar a span {
  font-size: 1.7rem;
  margin-left: 3rem;
  transition: all 300ms ease;
}
main aside .sidebar a.active {
  background: var(--color-light-blue);
  border-left: 7.5px solid var(--color-gray-dark) !important;
}
/* main aside .sidebar a.active :after {
  width: 6px;
  height: 100%;
  position: absolute;
  background: var(--color-gray-dark) !important;
} */
main aside .sidebar a:hover {
  color: var(--color-primary);
}
main aside .sidebar a:hover span {
  margin-left: 2rem;
}
main aside .sidebar h4 {
  font-weight: bold;
}

/* reviewerdashboard*/
.revcontent {
  display: flex;
  background-color: #f2fbfe;
}
.revcontainer {
  margin-left: 2%;
  margin-right: 1%;
  max-height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.revcontainer::-webkit-scrollbar {
  display: none;
}
.rev_dash_heading {
  size: 10px;
}
.rev_queue {
  flex: 1;
  background-color: #ffffff;
  margin: 10px;
}
.rev_rows {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.rev_myqueue {
  flex: 1;
  background-color: #ffffff;
  margin: 10px;
}
.rev_draft {
  flex: 1;
  background-color: #ffffff;
  margin: 10px;
}
.table1 {
  /* border: 2px solid red; */
  /* margin-top: 20px; */
  height: 360px;
}
.button_pick {
  width: 90px;
  height: 25px;
  color: white;
  background-color: #e6592b;
  border-radius: 8px;
}
.button_pick:disabled {
  opacity: 50%;
}
.FilterApplyButton {
  color: #e6592b;
  background-color: transparent;
  font-size: large;
}
.filterbutton {
  display: flex;
  justify-content: right;
  margin-right: 3%;
  flex: 1;
}
.heading {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 5px;
}
.filter_list {
  background-color: transparent;
  font-size: 40px;
}
.box {
  background-color: aqua;
  max-width: 50px;
}
[role="tooltip"].popup-content {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  height: 220px;
  font-size: larger;
  color: grey;
}
